@font-face {
    font-family: 'Circular Spotify Tx T-Black';
    src: url('../../font/CircularSpotifyTxT-Black.ttf');
}

.positionNav{
    position: fixed;
    background-color: none;
    width: 100%;
    z-index: 9999;
}
.MenuNav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: start;
    align-items: center;
    padding: 30px;
    padding-bottom: 20px;
}
.categoriesNav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    gap: 3em;
    align-items: center;
    justify-content: space-between;
}
.linkNav{
    text-decoration: none;
    color: black;
}
.listaNav{
    color: rgb(230, 221, 221);
    font-size: 18px;
    font-weight: 400;
    font-family: Circular Spotify Tx T-Black;
    transition: transform 0.5s ease;
}
.listaNav:hover{
    transform: scale(1.1);
}

@media (min-width: 300px) and (max-width:425px){
    .positionNav{
        position: fixed;
        background-color: rgba(0, 0, 0, 0.103);
        height: 65px;
        width: 100%;
        z-index: 9999;
    }
    .listaNav{
        color: rgb(230, 221, 221);
        font-size: 10px;
        font-weight: 400;
        font-family: Circular Spotify Tx T-Black;
        transition: transform 0.5s ease;
    }
    .MenuNav{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: start;
        align-items: center;
        padding: 10px;
        padding-bottom: 20px;
    }
    .categoriesNav{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        gap: 15px;
        align-items: center;
        justify-content: space-between;
    }
}
